.tnt_tree_container {
    /* float : left; */
    display : inline-block;
    vertical-align : top;
}

.tnt_annot_container {
    /* float: right; */
    display : inline-block;
    vertical-align : top;
}

